@using FoodForYou.Common
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h3>
        <i class="icon-large icon-search"></i>@GlobalConstants.SystemName is an online web application created in 2020, which allows you to order the most delicious food in the city.
        Everything is prepared with desire and quality by our chefs and be sure you don't miss opportunity to taste our wonderful dishes!
    </h3>
    <hr class="my-4">
    <p class="text-right lead">Best regards, Team @GlobalConstants.SystemName</p>
</div>
