@model FoodForYou.Web.ViewModels.Orders.CompletedOrderViewModel
@{
    ViewData["Title"] = "Completed Order";
}

<p class="h2 text-center">Congratulations on your order @Model.CreatorName</p>

<hr class="my-4"/>

<div class="row h-100 alert alert-success">
    Your order will be delivered -<div><time datetime="@Model.ArrivingTime.ToString("O")"></time></div>, @Model.Address. The total sum is @Model.Price€. Thank you :)!
</div>
